@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

$first_color: #E82F27;
$second-color: #BF2A2A;
$title-color: hsl(244, 12%, 12%);
$text-color: hsl(244, 4%, 36%);
$body-color: hsl(208, 97%, 85%);

// FONTE E TIPOGRAFIA
$h2-font-size: 1.25rem;
$small-font-size: .813rem;
$smaller-font-size: .75rem;

$font-medium: 500;
$font-semi-bold: 600;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
